<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
      layout:decorator="template1">
    <head>
        <title>clinique</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <script type="text/javascript" src="webjars/jquery/3.2.0/jquery.min.js"></script>
        <script type="text/javascript" src="webjars/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="webjars/bootstrap/3.2.0/css/bootstrap.min.css"/>
    </head>
    <body>
        <div th:replace="template1 :: header"></div>

        <div layout:fragment="content" class="container"><h1></h1>

            <div class="panel panel-primary">
                <div class="panel-heading">Liste Des cliniques</div>
                <div class="panel-body">
                    <div class='container'>
                      <!--
                        <form th:action="@{/taxes}" method="get" id="myForm">
                            <label>Personne:</label>
                            <select name="code" onchange="document.getElementById('myForm').submit()">
                                <option th:each="e:${entreprises}" th:text="${e.nom}" th:value="${e.code}"></option>
                            </select>

                            <button type="submit" class="btn btn-primary">Chercher!</button>
                        </form>
                        -->
                    </div>
                   <a  class="btn btn-success" th:href="@{/cliniques/edit}">Ajouter</a>
                    <table class="table table-striped">
                        <tr>
                            <th>Nom</th>
                        </tr>
                        <tr th:each="c:${listClinique}">
                            <td th:text="${c.nom}"></td>
                          
                            </td>
                            <td>
                            <a class="btn btn-primary" th:href="@{/cliniques/edit(id=${c.id})}">Modifier</a>
                            </td>
                        </tr>
                    </table>
                    <div>
                        <ul class="nav nav-pills">
                            <li th:class="${status.index == pageCourante}?'active':''" th:each="p, status:${pages}">
                                <a th:href="@{/cliniques/list(page=${status.index})}" th:text="${status.index}"></a>
                            </li>
                        </ul>
                    </div>

                </div>


            </div>

        </div>
    </body>
</html>